.vscode/

build/
/plugins/rm_video_decoder/build/
/plugins/rm_video_decoder/.sconsign.dblite
/plugins/rm_video_decoder/*.o
/plugins/rm_video_decoder/*.os
/plugins/rm_video_decoder/src/*.o
/plugins/rm_video_decoder/godot/*.o
/plugins/rm_video_decoder/godot/*.os
/godot-cpp/bin/
/godot-cpp/gen/
/rm_synapse/addons/godot_cef/*
/rm_synapse/bin/*
/rm_synapse/bin/librm_video_decoder.*
/rm_synapse/bin/rm_video_decoder.gdextension
/rm_synapse/bin/rm_video_decoder.gdextension.uid
/plugins/rm_video_decoder/godot/*.os

.godot/

*.os
*.uid
*.import
.DS_Store
rm_synapse/Export/**
!rm_synapse/Export/
!rm_synapse/Export/.gitkeep
!rm_synapse/Export/linux/
!rm_synapse/Export/linux/.gitkeep
!rm_synapse/Export/windows/
!rm_synapse/Export/windows/.gitkeep
!rm_synapse/Export/macos/
!rm_synapse/Export/macos/.gitkeep
*.log

.sisyphus

!/rm_synapse/addons/godot_cef/
!/rm_synapse/addons/godot_cef/**/
!/rm_synapse/addons/godot_cef/**
!/rm_synapse/addons/rm_video_decoder/
!/rm_synapse/addons/rm_video_decoder/**/
!/rm_synapse/addons/rm_video_decoder/**
