.vscode/

build/
/plugins/rm_video_decoder/build/
/plugins/rm_video_decoder/.sconsign.dblite
/plugins/rm_video_decoder/*.o
/plugins/rm_video_decoder/*.os
/plugins/rm_video_decoder/src/*.o
/plugins/rm_video_decoder/godot/*.os
/godot-cpp/bin/
/godot-cpp/gen/
/rm_synapse/bin/*
/rm_synapse/bin/librm_video_decoder.*
/rm_synapse/bin/rm_video_decoder.gdextension
/rm_synapse/bin/rm_video_decoder.gdextension.uid
/plugins/rm_video_decoder/godot/*.os

.godot/

*.os
*.uid
*.import
.DS_Store
rm_synapse/Export/
*.log

.sisyphus
